/*header página*/
header.main-header {
  padding: 0 15px;
  height: 56px;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .icon-bars {
  width: 30px;
  height: 20px;
}

header .icon {
  width: 30px;
  height: 25px;
}

header .icon-bell {
  margin-left: 10px;
}

header .logo-img {
  margin-left: 10px;
  width: 100px;
}
